@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.card {
  margin-bottom: 20px; /* Add margin between card modules */
  max-width: 100%; /* Set maximum width to 350px */
  background: #cfedf7;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 217, 255, 0.7);
  user-select: none;
  margin-top: 20px;
  padding-top: 15px;
}

.profilephoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #222;
  margin-bottom: -60px;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0;
    color: #000000;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
    color: #000000;
}

.btns {
    margin: 10px 30px;
    background: #7ce3ff;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #7ce3ff;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    color: #222;
    transition: 0.2s;
}

.btns:last-of-type {
    background: transparent;
    border-color: #7ce3ff;
    color: #000000;
}

.btns:hover {
    background: #00c8ff;
    color: #000000;
}

.icons {
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: #7ce3ff;
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile {
    position: static;
    margin-bottom: 20px;
  }
  
  .profile-name {
    margin: 15px 0 0;
  }
  
  .about {
    margin-left: 0;
  }
  
  .btn {
    margin-bottom: 20px;
  }
}

.profile-photo {
  text-align: center;
}

.profile-photo img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.profile-photo .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-photo .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
